extends layout
include mixins

block header-content
    +title_header('/main', 'Investment Agreement')

block content
    p 
       Agreement Information will be hardcoded into this as it wont change 
    p
        and the content doesnt matter too much

