extends layout
include mixins

block header-content
    +title_header('/main', 'Chat Room')

block content
    .controls
        input.field(style="width:350px;")
        input.send(type='button', value='send')
