extends layout

block header-content
    div.header
        img(src="./images/pure_logo.png").logo
        h1.page-title Peninsula Investors
        hr.title-header-bar

block menu
  div.container
    div.content
      table.table.table-striped
        tbody 
          ul 
            li: a(href="/roster") Roster 
            li: a(href="/chat") Chat 
            li: a(href="/agreement") Agreement 
            li: a(href="/roster") Roster
            li: a(href="/tips") Tips
            li: a(href="/calendar") Calendar
  div.footer
