doctype html
html
  head
    title #{title} - Peninsula Investors 
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
        h1 My Site
    .container
        .main-content
            block content
        .sidebar
            block sidebar
    footer
        p running on node with express, jade

