mixin title_header(nav_link, page_name)
    .title_header
        .title_header-wrapper
            img(src="./images/pure_logo.png").logo
            h1.page-title=page_name
            a(href=nav_link) <-- return to main page
            hr.title-header-bar
